.yoru {
  background-image: url("../image/flooryo.jpg");
  background-size: cover;
}

.hiru {
  background-image: url("../image/floorhi.jpg");
  background-size: cover;
}

.yuu {
  background-image: url("../image/flooryuu.jpg");
  background-size: cover;
}

.registbody {
  background-image: url("../image/background.jpg");
  background-size: cover;
}

.wolfWin {
  background-image: url("../image/wolfWin.png");
  background-size: cover;
}

.villagerWin {
  background-image: url("../image/villagerWin.png");
  background-size: cover;
}

.death {
  background-image: url("../image/death.jpg");
  background-color: rgb(36, 30, 32);
}

.jinrouText {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -30%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}


@font-face {
  font-family: "Amatic SC";
  src: url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
}

body {
  font-family: "Amatic SC", cursive
}


a {
  padding: 0 10px;
  background-image: linear-gradient(to right, rgba(173, 2, 2, 0) 50%, rgb(0, 247, 255) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  text-decoration: none;
}

a:hover {
  background-position: -100% 0;
  color: rgb(255, 255, 255);
}
