<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>チームおおうち|Jinrou</title>

  <style type="text/css" media="screen, print">
    @font-face {
      font-family: "M PLUS Rounded 1c";
      src: url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
    }

    body {
      font-family: "Amatic SC", cursive
    }
  </style>

</head>

<div th:if="${winner=='人狼陣営'}">

  <body bgcolor="black" text="red">
    <h1>終了</h1>
    <div th:if="${winner}">[[${winner}]]の勝利</div>
    <div><a href=" /logout">ログアウト</a></div>
  </body>
</div>

<div th:if="${winner=='村人陣営'}">

  <body bgcolor="#000063" text="white" link="#FFFFFF" vlink="#FFB359">
    <h1>終了</h1>
    <div th:if="${winner}">[[${winner}]]の勝利</div>
    <div><a href=" /logout">ログアウト</a></div>
  </body>
</div>

</html>
