<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>

  <link rel="stylesheet" href="../css/style.css">

  <script th:inline="javascript">
    var sse;
    var interval_id = null;
    window.addEventListener('DOMContentLoaded', function () {
      interval_id = setInterval(() => {
        sse = new EventSource('/jinrou/wait-disc');
        sse.onmessage = function (event) {
          clearInterval(interval_id);
          console.log("sse.onmessage")
          console.log(event.data);
          var resultData = JSON.parse(event.data);
          var isAlive = true;
          var result = "";

          resultData.forEach(data => {
            if ([[${ roomId }]] == data.roomId) {
              result += "<div><ul>";
              result += "<div><a href =\" /jinrou/discuttion\">会議へ入室する</a></li>";
              result += "</ul></div>";
            }
          });
          console.log(result);
          var div = document.getElementById("result");
          div.innerHTML = result;
        }
      }, 1000);
    });
  </script>
</head>

<body class="yoru" link="#FFFFFF" vlink="#FFB359">
  <div class="jinrouText">
    <h1>朝が来るのを待っています</h1>
    <div id="result"></div>
  </div>
</body>

</html>
