<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>

  <style type="text/css" media="screen, print">
    @font-face {
      font-family: "Amatic SC";
      src: url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
    }

    html,
    body {
      font-family: "Amatic SC", cursive;
      height: 100%;
      background: linear-gradient(#000040, #000040 60%, rgb(244, 105, 5));
    }
  </style>

  <script th:inline="javascript">
    var sse;
    var interval_id = null;
    window.addEventListener('DOMContentLoaded', function () {
      interval_id = setInterval(() => {
        sse = new EventSource('/jinrou/wait-disc');
        sse.onmessage = function (event) {
          clearInterval(interval_id);
          console.log("sse.onmessage")
          console.log(event.data);
          var resultData = JSON.parse(event.data);
          var isAlive = true;
          var result = "";

          resultData.forEach(data => {
            if ([[${ roomId }]] == data.roomId) {
              result += "<div><ul>";
              result += "<div><a href =\" /jinrou/discuttion\">会議へ入室する</a></li>";
              result += "</ul></div>";
            }
          });
          console.log(result);
          var div = document.getElementById("result");
          div.innerHTML = result;
        }
      }, 1000);
    });
  </script>
</head>

<body bgcolor="#000063" text="white" link="#FFFFFF" vlink="#FFB359">
  <h1>朝が来るのを待っています</h1>
  <div id="result"></div>
</body>

</html>
