<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>
  <script>
    var sse;
    var interval_id = null;
    window.addEventListener('DOMContentLoaded', function () {
      interval_id = setInterval(() => {
        sse = new EventSource('/jinrou/wait-disc');
        sse.onmessage = function (event) {
          clearInterval(interval_id);
          console.log("sse.onmessage")
          console.log(event.data);
          var resultData = JSON.parse(event.data);
          var isAlive=true;
          var result = "";
          result += "<div><ul>";
          resultData.forEach(data => {
            result += "<div th:if=\"${roomId}\"==" + data.roomId + "> <a href =\" /jinrou/discuttion\">会議へ入室する</a></li>";
            result += "</ul></div>";
            });
            console.log(result);
            var div = document.getElementById("result");
            div.innerHTML =result;
        }
      }, 1000);
    });
  </script>
</head>

<body>
  <h1>夜になるのを待っています</h1>
  <div id="result"></div>
</body>

</html>
