<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>
  <script th:inline="javascript">
    var sse;
    var interval_id = null;
    window.addEventListener('DOMContentLoaded', function () {
      interval_id = setInterval(() => {
        sse = new EventSource('/jinrou/wait-game');
        sse.onmessage = function (event) {
          clearInterval(interval_id);
          console.log("sse.onmessage")
          console.log(event.data);
          var resultData = JSON.parse(event.data);
          var isAlive = true;
          var result = "";
          result += "<div><ul>";
          resultData.forEach(data => {
            if ([[${ roomId }]] == data.room) {
              result += "<li><a href =\" /jinrou/vote?id=" + data.id + "\">" + data.pname + "</a></li>";
            }
          });
          result += "</ul></div>";
          console.log(result);
          var div = document.getElementById("result");
          div.innerHTML = result;
        }
      }, 1000);
    });
  </script>
</head>

<body>
  <h1>会議中</h1>
  <div th:if="${suspicious}">疑わしい人は[[${suspicious.pname}]]です</div>
  <div id="result"></div>
</body>

</html>
