<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>

  <style type="text/css" media="screen, print">
    @font-face {
      font-family: "Amatic SC";
      src: url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
    }

    html,
    body {
      font-family: "Amatic SC", cursive;
      height: 100%;
      background: linear-gradient(#8dbabc, rgb(255, 255, 255));
    }
  </style>

  <script th:inline="javascript">
    var sse;
    var interval_id = null;
    window.addEventListener('DOMContentLoaded', function () {
      interval_id = setInterval(() => {
        sse = new EventSource('/jinrou/wait-game');
        sse.onmessage = function (event) {
          clearInterval(interval_id);
          console.log("sse.onmessage")
          console.log(event.data);
          var resultData = JSON.parse(event.data);
          var isAlive = true;
          var result = "";
          result += "<div><ul>";
          resultData.forEach(data => {
            if ([[${ roomId }]] == data.room) {
              result += "<li><a href =\" /jinrou/vote?id=" + data.id + "\">" + data.pname + "</a></li>";
            }
          });
          result += "</ul></div>";
          console.log(result);
          var div = document.getElementById("result");
          div.innerHTML = result;
        }
      }, 1000);
    });
  </script>
</head>

<body bgcolor="#000063" text="white" link="#FFFFFF" vlink="#700000">
  <h1>会議中</h1>
  <div th:if="${suspicious}">疑わしい人は[[${suspicious.pname}]]です</div>
  <div th:if="${roles.rolId} == 4">
    <table border="1">
      <thead>
        <th>名前</th>
        <th>役職</th>
      </thead>
      <tbody>
        <span th:if="${divinedUser}">
          <tr th:each="user,stat:${divinedUser}">
            <td>[[${user.pname}]]</td>
            <div th:if="${user.roles} == 1">
              <td>人狼ではない</td>
            </div>
            <div th:if="${user.roles} == 2">
              <td>人狼</td>
            </div>
          </tr>
        </span>
      </tbody>
    </table>
  </div>
  <div id="result"></div>
</body>

</html>
