<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>
  <style type="text/css" media="screen, print">
    @font-face {
      font-family: "Amatic SC";
      src: url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
    }

    body {
      font-family: "Amatic SC", cursive
    }
  </style>
  
  <script th:inline="javascript">
    var sse;
    var interval_id = null;
    window.addEventListener('DOMContentLoaded', function () {
      interval_id = setInterval(() => {
        sse = new EventSource('/jinrou/wait-start');
        sse.onmessage = function (event) {
          console.log("sse.onmessage")
          console.log(event.data);
          var resultData = JSON.parse(event.data);
          var result = "";
          resultData.forEach(data => {
            if ([[${ roomId }]] == data.roomId) {
              result += "<div>";
              result += "<h2>[[${roomId}]]</h2>";
              result += "<a href =\" /jinrou/match?roomId=" + data.roomId + "\">役割を確認して初夜へ(" + data.roomName + ")</a>";
              result += "</div>";
            }
          });
          console.log(result);
          var div = document.getElementById("result");
          div.innerHTML = result;
          clearInterval(interval_id);
        }
      }, 1000);
    });
  </script>
</head>

<body bgcolor="#000063" text="white" link="#FFFFFF" vlink="#FFB359">
  <h1>対戦相手を募集中です。少々お待ちください。</h1>
  <div th:if="${userName}">あなたのユーザ名は[[${userName}]]です。</div>
  <h2>開始しているゲーム</h2>
  <div id="result"></div>
</body>

</html>
