<!DOCTYPE html>
<html>

<head>
  <title>チームおおうち|Jinrou</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body class="matchingbody" link="#FFFFFF" vlink="#FFB359">
  <div class="jinrouText">
    ルーム作成
    <form th:action="@{/jinrou/make}" method="post">
      ルーム名<input type="text" name="roomName" />
      パスワード<input type="text" name="roomPass" />
      人数<input type="number" name="startCount" />
      <input type="submit" value="作成">
    </form>
    </br>
      ルーム参加
    <form th:action="@{/jinrou/join}" method="post">
      ルーム名<input type="text" name="roomName" />
      パスワード<input type="text" name="roomPass" />
      <input type="submit" value="参加">
    </form>
  </div>
</body>
</html>
